* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  direction: rtl;
  background-color: rgb(66, 177, 90);
}
.container {
  height: 100%;
  width: 100%;
}
.btn-back {
}
.title {
  text-align: center;
  margin: 15px 0px;
}
.title-up {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 2px 3px #e3e3e3;
  width: 90%;
  margin: 0 auto;
  position: relative;
  /* background-image: linear-gradient(green, rgb(212, 212, 17)); */
  background-color: aquamarine;
}
#forms {
  display: flex;
}
#title-right {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
#title-left {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.person img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}
#forms label {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
.style-input {
  padding: 5px;
  border: none;
  outline: none;
  box-shadow: 0 1px 2px 3px #e3e3e3;
  text-align: center;
  font-weight: bold;
}
#btn-save {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  background-color: rgb(180, 62, 41);
  color: white;
  border-radius: 8px;
  padding: 5px 40px;
}
table {
  box-shadow: 0 1px 2px 3px #e3e3e3;
  margin-top: 1.5em;
  margin-right: 40px;
  /* background-image: linear-gradient(rgb(212, 212, 17), green); */
  background-color: lightseagreen;
  width: 95%;
}
table th {
  padding: 0px 13px 0px;
}
.row-list td {
  padding: 5px 13px 0px;
  font-weight: bold;
  color: rgb(20, 18, 17);
  /* color: rgb(180, 180, 180); */
}
.alert {
  position: absolute;
  left: 500px;
  bottom: 15px;
  padding: 3px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 25px;
}
.succes {
  background-color: rgb(10, 136, 94);
}
.error {
  background-color: tomato;
}
#month {
  padding: 5px;
  border: none;
  outline: none;
  box-shadow: 0 1px 2px 3px #e3e3e3;
  text-align: center;
  font-weight: bold;
}
#month option {
  text-align: center;
  font-weight: bold;
}
.delete {
  color: tomato;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
}
.btn-night {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.btn-sun {
  background: transparent;
  border: none;
  font-size: 20px;
  color: yellow;
  cursor: pointer;
}
.total {
  margin-right: 36%;
  margin-top: 15px;
  box-shadow: 0 1px 2px 3px #e3e3e3;
  width: 62%;
}
.total span {
  padding: 5px 20px;
  font-weight: bold;
}
